*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    color: white;
    
    font-family:  Helvetica, Arial, sans-serif;
}

.main-bg{
width: 100%;
height: 100%;
color: yellow;
}

.container{
/* background-image: url(images/netfliks.jpg); */
background: linear-gradient(rgba(4, 4, 4, 0.6),rgba(4, 4, 4, 0.3)),url(images/netfliks.jpg);
height: 100%;
width: 100%;
z-index: -1;

}
.container .navbar{
    height: 100%;
    display: flex;
}
.container .navbar .left{
    height: 100%;
    display: flex;
    float: left;
}
#download-img{
    width: 300px;
    margin-left: 35%;
    margin-top: 10%;
}


.container .navbar .left img{
height: 100px;
position: absolute;
left: 35px;
}
.container .navbar .right{
    display: flex;
    height: 100px;
    float: right;
    position: absolute;
    right: 50px;
}
.container .navbar .right .language{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 7px 10px;
    color: white;
    background: none;
    cursor: pointer;
    margin-right: 15px;
}
.container .navbar .right button{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 7px 17px;
    background-color: red;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    border-color: red;
}
.container .title{
    padding: 70px 45px;
    color: white;
}
.container .title .content{
    width: 100%;
margin-left: 250px;
margin-top: 100px;
    padding: 75px 0;
    text-align: center;
}
.container .title .content h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.container .title .content h2{
 font-size: 26px;
 font-weight: 400;
 text-align: center;   
 line-height: 50px;
}
.container .title .content form h3{
    font-size: 18px;
    font-weight: 400;
}

.container .title .content form .email {
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
}

.container .title .content form .email input{ 
    width: 450px;
    height: 80px;
    outline: none;
    
}
.container .title .content form .email button{
    width: 200px;
    height: 80px;
    background-color: red;
    border-color: red;
    
}
.container .title .content form .email button a{
    text-decoration: none;
    color: white;
    font-size:  30px;
}

.section-2{
    width: 100%;
    height: 458px;
    background-color: aqua;
}
.border{
    width: 100%;
    height: 8px;
    background-color:rgb(35,35,34);
}

.section-2{
display: flex;
}

.text-1{
    width: 50%;
    height: 100%;
    background-color: black;
}
.text-1 h1{ 
    margin-left: 28%;
    margin-top: 20%;
    font-size: 40px;
    font-weight: 700;

}
.sub-text h4{
    margin-left: 28%;
    margin-top: 6%;
    font-size: 20px;
    font-weight: 400;
}

.pic-1{
    width: 50%;
    height: 100%;
    background-color:black;
}
.tv{
    width: 414px;
   margin-top:10% ;
   margin-left: 10%;

}
.tv-video{
    margin-left: 125px;
width: 310px;
position: absolute;
margin-top: 139px;
left: 50%;
}
.tv-video-2{
    margin-left: 200px;
width: 200px;
position: absolute;
margin-top: 110px;
left: 47%;
}

.netfliks-details{
    margin-left: 20%;
    width: 800px;
    height: 90px;   
    background-color: rgb(49,48,49);
}
.netfliks-details h2{
    font-weight: 400;
    font-size: 25px;
}

.about-netfliks{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin-top: 2%;
}

.about-netfliks h2{
    text-align: center;
    padding-top: 3%;
}


.section-3{ 
    width: 100%;
    height: 1000px;
    background-color: black;  
    align-items: center;
}

.section-3 .footer-heading h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 5%;
}

.section-3 h3{
    text-align: center;
    margin-top: 3%;
}

.section-3 .email{
    display: flex;
    margin-left: 400px;
   margin-top: 20px;
    
}
.section-3 .email input{
    width: 450px;
    height: 70px;
    outline: none;
}

.section-3 .email button{
    
    align-items: center;
    width: 200px;
    height: 70px;
    background-color: red;
    border-color: red;
    
}
.section-3 .email button a{
    text-decoration: none;
    color: white;
    font-size:  30px;
}
.last-footer{
    width: 100%;
    height: 350px;
    background-color: black; 
}
.last-footer h4{
    margin-left: 13%;
    padding-top: 5%;
    color: rgb(117,116,116);

}

.last-footer .more-details{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.last-footer .more-details ul li{
    list-style: none;
    font-size: 13px;
    font-weight: 400;
    color: rgb(117,116,116);
}
.last-footer .eng .language{
    color: white;
    width: 90px;
    height: 50px;
margin-left: 13%;
background: none;
margin-top: 2%;
}
.last-footer .eng p{
    margin-top: 10px;
    color: rgb(117,116,116);
    margin-left: 13%;
}

.download{
    width: 200px;
    height: 150px;
    background-color: red;
    margin-left: 25%;
    margin-bottom: 10%;
    
    
}
